/* Page Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Slab:wght@100..900&display=swap');

/* Deafult page sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color variable example: "background-color: var(--medium-tan);" */
  --medium-tan: #cbbfa7;
  --cream: #f5efdd;
  --dark-tan: #ae9375;
  --dark-brown: #302621;
}

body {
  
}

.flex {
  display: flex;
  /* justify-content: space-between; */
}

.flex-left {
  flex-grow: 1;
}

.flex-right {
  flex-grow: 1;
  justify-content: right;
}

.nav-logo {
  width: 100px;
}

.nav-bar {
  font-family: "Roboto Slab", serif;
}

.nav-items {
  list-style: none;
}

/* Login Background */
.login-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/logo-background.webp);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-color: black;
}

.login-container {
  border: solid;
  display: flex;
  justify-content: center;
  background-color: #f5efdd;
}