/* Page Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Slab:wght@100..900&display=swap');


/* Fonts */
.roboto-slab {
  font-family: "Roboto Slab", serif; 
}

.nunito-sans {
  font-family: "Nunito Sans", serif;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

/* Adds colors to palete */
:root {
  /* Color variable example: "background-color: var(--medium-tan);" */
  --black: rgb(25, 25, 25);
  --medium-tan: #cbbfa7;
  --cream: #f5efdd;
  --dark-tan: #ae9375;
  --darker-tan: #8f745f;
  --dark-brown: #302621;
  --orange: hsl(40, 100%, 50%);
  --dark-orange: #9e5400;
  --error-red: #D32F2F;
  --blue: #197bff;
  --grey: hsl(210, 20%, 50%);
  --gray: var(--grey);
  --very-light-grey: #f1f1f1;
  --very-light-gray: var(--very-light-grey);
  --light-brown: #6F4E37;
  --winner-green: #0BDA51;
}

.black {
  color: var(--black);
}

/* Deafult page sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font weights */ 
.weight-1 {
  font-weight: 100;
}

.weight-2 {
  font-weight: 200;
}

.weight-3 {
  font-weight: 300;
}

.weight-4 {
  font-weight: 400;
}

.weight-5 {
  font-weight: 500;
}

.weight-6 {
  font-weight: 600;
}

.weight-7 {
  font-weight: 700;
}

.weight-8 {
  font-weight: 800;
}

.weight-9 {
  font-weight: 900;
}

/* Font Sizes */
.size-0 {
  font-size: 8px;
}

.size-1 {
  font-size: 10px;
}

.size-2 {
  font-size: 12px;
}

.size-3 {
  font-size: 14px;
}

.size-4 {
  font-size: 14px;
}

body {
  color: var(--black);
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 72px;
  font-weight: 300;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 38px;
  font-weight: 400;
}

h3 {
  font-family: "Roboto Slab", serif;
  font-size: 35px;
  font-weight: 500;
}

h4 {
  font-family: "Nunito Sans", serif;
  font-size: 24px;
  font-weight: 600;
}

h5 {
  font-family: "Roboto Slab", serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.large-text {
  font-family: "Nunito Sans", serif;
  font-size: 1.3rem;
}

.pointer {
  cursor: pointer;
}

.btn {
  text-decoration: none;
  border: none;
  padding: 10px 30px;
  border-radius: 200px;
  color: var(--black);
  background-color: var(--medium-tan);
}
.btn:hover {
  /* background-color: var(--dark-tan); */
  filter: brightness(90%);
}

.btn:active {
  /* background-color: var(--darker-tan); */
  filter: brightness(85%);
}

.btn-selected {
  color: var(--cream);
  background-color: hsl(0, 100%, 40%);
}

.btn-selected:hover {
  background-color: hsl(0, 100%, 37.5%);
}

.btn-selected:active {
  background-color: hsl(0, 100%, 35%);
}

.btn-cream {
  background-color: var(--cream);
  filter: brightness(115%);
  border: 1px solid var(--medium-tan);
}

.hidden {
  display: none;
}

.link-style {
  cursor: pointer;
  color: #551a8b;
  text-decoration: underline;
}

.flex {
  display: flex;
  /* justify-content: space-between; */
}

.flex-left {
  flex-grow: 1;
  align-items: center;
}

.flex-right {
  flex-grow: 1;
  align-items: center;
  justify-content: right;
}

.center {
  align-items: center;
  justify-content: center;
}

.row {
  max-width: 1240px;
  margin: 0 auto;
}

.section {
  padding: 6rem 0;
}

.below-line:after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: var(--medium-tan);
  content: " ";
  margin: auto;
  margin-top: 30px;
}


/* Start Nav Bar */

#header {
  position: fixed;
  z-index: 2;
  width: 100%;
  box-shadow: 0px -4px 10px 1px;
}

.header-spacer {
  height: 80px;
  visibility: none;
}

.header-spacer-login {
  height: 55px;
  visibility: none;
}

.nav-bar {
  font-family: "Roboto Slab", serif;
  background-color: var(--dark-tan);
  align-items: center;
  padding: 0.5rem 6rem;
}

.nav-logo {
  transform: scale(1.5);
  width: 60px;
  margin-right: 3rem;
}
.nav-name {
  size: 50px;
}

.nav-items {
  list-style: none;
}

.nav-items li {
  margin-left: 2rem;
}

.nav-items li:first-child {
  margin-left: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--black);
}
.nav-link:hover, 
.nav-link:active {
  color: var(--cream);
  transition: color 0.2s;
}

.nav-icon {
  background-color: var(--medium-tan);
  padding: 0.35rem;
  border-radius: 3rem;
  font-size: 2rem;
}

/* Start Login Bar */

#login-bar {
  justify-content: center;
  padding: 0.5rem 0;
  background-color: var(--medium-tan);
}

.login-bar-link {
  background-color: var(--dark-tan);
  color: var(--black);
  transition: 0.2s;
}

.login-bar-link:hover {
  filter: brightness(90%);
}
.login-bar-link:active {
  filter: brightness(85%);
}

.login-bar-link:hover {
  filter: brightness(90%);
}
.login-bar-link:active {
  filter: brightness(85%);
}

/* End Login Bar */
/* End Nav Bar */


/* Start home-hero */

#home-hero {
  background-image: url(../../images/menu_items/burger.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.home-hero-darken {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

#home-hero h1 {
  margin-bottom: 1rem;
}

/* End home-hero */


/* Start home-menu */

#home-menu {
  text-align: center;
}

#home-menu h1 {
  margin-bottom: 2rem;
}

.menu-list {
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 3rem;
}

.menu-list li {
  /* min-width: 400px; */
  width: 23%;
  background-color: var(--black);
  aspect-ratio: 1/1;
  overflow: hidden;
}

.home-menu-img {
  background-size: contain;
  width: 100%;
  opacity: 0.7;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
.home-menu-img:hover {
  opacity: 1;
  transform: scale(1);
}

/* End home-menu */


/* Start home reviews */

#home-reviews {
  background-color: #333;
  color: var(--cream);
}

#home-reviews h1 {
  text-align: center;
}

.home-review-body {
  flex-wrap: wrap;
  flex-direction: column;
}

.home-reviews-row {
  flex-wrap: wrap;
  justify-content: center;
}

.home-review-quote {
  margin: 0 1rem;
  max-width: 380px;
  min-width: 290px;
  font-family: "Nunito Sans", serif;
  font-weight: 300;
  font-size: 1.2rem;
}

#home-reviews blockquote {
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

#home-reviews blockquote:before {
  display: block;
  position: absolute;
  content: "\201C";
  font-size: 500%;
  top: -10px;
  left: -20px;
}

#home-reviews cite {
  display: block;
  font-size: 1.1rem;
  margin-top: 40px;
}

#home-reviews cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

#home-reviews .btn {
  margin: 0 auto;
  margin-top: 3rem;
}

/* End home reviews */


/* Start footer */

footer {
  background-color: var(--black);
}

.footer-list {
  list-style: none;
}

.footer-list li {
  margin-right: 2rem;
}

.footer-list li:last-child {
  margin-right: 0;
}

.footer-list li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--cream);
}

.footer-list li a:hover {
  color: var(--dark-tan);
}

/* End footer */



/* Start menu page */

/* Start menu head */

#menu-head {
  background-color: var(--darker-tan);
  padding-top: 8rem;
  padding-bottom: 4rem;
  justify-content: center;
  align-items: center;
}

/* End menu head */


/* Start menu main */

#menu-main {
  background-color: var(--cream);
}


.manager-add-item {
  position: relative;
  justify-content: center;
  margin-bottom: 1rem;
}

.manager-add-btn {
  padding: 1rem 3rem;
}

.manager-add-box {
  position: absolute;
  top: 50px;
  background: var(--medium-tan);
  max-width: 90vw;
  padding: 1rem;
  border-radius: 1rem;
  width: 600px;
  height: 600px;
  z-index: 1;
}

.manager-add-form {
  font-family: "Nunito Sans", serif;
  font-size: 1.3rem;
}

.manager-add-form label {
  display: inline-block;
  width: 170px; 
}

.manager-add-form input[type=text] {
  display: inline-block;
  width: calc(100% - 220px);
}

.manager-add-form input[type=submit] {
  display: block;
  margin: 0 auto; 
  margin-top: 1rem;
  padding: 1rem 4rem;
}

.menu-sort {
  margin: 0 4rem;
  margin-bottom: 2rem;
}

.menu-sort button {
  margin-right: 0.5rem;
}

.menu-sort button:last-child {
  margin-right: 0;
}

.menu-items {
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
}

.menu-items li {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 380px;
  background-color: var(--cream);
  padding: 2rem 0;
  /* border: 1px solid var(--medium-tan); */
  box-shadow: 0px 0px 15px rgba(143, 116, 95, 0.3);
  border-radius: 10px;
  margin: 1rem;
}
.menu-input-cata-div {
    position: absolute;
    top: 10px;
}

.menu-input-img {
  width: 100%;
}

.menu-input-title {
  font-size: 1.3rem; 
}

.menu-textarea-desc {
  font-family: "Nunito Sans", serif;
  font-size: 0.9rem;
  width: 300px;
  resize: none;
}

.menu-input-price {
  font-size: 1.1rem;
  width: 60px;
  padding: 0;
}
  
.menu-x-btn {
  position: absolute;
  align-self: flex-start;
  top: 0px;
  left: 0px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.menu-x {
  color:hsl(0, 100%, 40%);
  font-size: 2.5rem;
}

.menu-desc {
  font-family: "Nunito Sans", serif;
  color: var(--dark-brown);
  font-size: 0.9rem;
  font-weight: 500;
}

.menu-items li div p {
  margin-bottom: 1rem;
}

.menu-items-p {
  height: 45px;
  max-width: 75%;
  margin-bottom: 1rem;
}

.menu-price {
  font-family: "Nunito Sans", serif;
  margin-bottom: 0.5rem;
}

.menu-img-div {
  height: 250px;
  width: 250px;
  border: 1px solid var(--medium-tan);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.menu-img-div img {
  background-size: contain; 
  height: 250px;
  aspect-ratio: 1/1;
}

.quantity {
  background-color: var(--medium-tan);
  margin: 0 0.5rem;
  border: none;
  width: 80px;
  padding: 0.5rem 1rem;
}

/* End menu main */


/* End menu page



/* Login Background */
.login-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/basic/logo-background.webp);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  display: flex;
  min-height: 100vh; 
}

.login-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: var(--medium-tan);
  /* height: 500px; */
  width: 400px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .6);
  padding: 30px 30px 60px 30px;
}

.login-header {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: black solid 1px;
  margin-bottom: 20px;
}

.login-input {
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.login-or {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.login-or a {
  transition: color 0.3s, font-weight 0.3s;
}

.login-or a:link {
  color: #551a8b;
}

.login-or a:hover {
  color: purple;
  font-weight: 700;
}

.login-btn {
  display: flex;
  margin: 10px auto;
  border: none;
  background-color: var(--dark-tan);
  width: 40%;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  border-radius: 20px;
  color: var(--cream);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.login-btn:hover {
  background-color: var(--darker-tan);
  transform: scale(1.02); 
}

/* Check Password */
.sign-up-check-password {
  display: flex;
  margin-top: 2px;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 3px;
}

.sign-up-check-image {
  display: flex;
  height: 10px;
  width: 10px;
}

.sign-up-check-image img {
  width: 100%;
}

.sign-up-check-text {
  width: fit-content;
  display: flex;
  gap: 2px;
}

#pass-change-text-1 {
  color: var(--error-red);
}

#pass-change-text-2 {
  color: var(--error-red);
}

#pass-change-text-3 {
  color: var(--error-red);
}

#pass-change-text-4 {
  color: var(--error-red);
}

.show-password {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 2px;
}

#invalid-signup-popup-loc {
  border-radius: 20px;
  background-color: var(--error-red);
  margin-top: 5px;
  width: 100%;
  height: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px;
  color: white;
  display: none;
}

/* Cart */
/* For giving the cart a scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#cart-page {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* Start with transparent (make last var back to 0)*/
  opacity: 0; /* Start hidden */
  transition: background-color 0.5s ease, opacity 0.5s ease; /* Transition on background and opacity */
}

#cart-page.active {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6); /*  Fade in background  */
  opacity: 1;  /* Fade in */
} 

#cart-buy {
  position: fixed;
  height: 100vh;
  max-width: 450px;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  right: -31%; /* Start off-screen */
  transition: right 0.5s ease; /* Smooth slide-in */
  overflow-y: auto;
}

#cart-buy.active {
  right: 0; /* Slide into view */
}

.top-cart {
  padding: .5rem 0;
  align-items: center;
  background-color: var(--very-light-grey);
}

#cart-title {
  width: 100%;
  justify-content: center;
  margin-right: 30px;
  color: var(--dark-brown);
}

#close-cart,
.close-x {
  font-size: 3rem;
  color: var(--black);
}

#close-cart:hover,
.close-x:hover {
  color: var(--error-red);
}

/* Rewards Cart Start */
.rewards-cart {
  /* height: 15%; */
  background-color: var(--medium-tan);
}

.rewards-cart p {
  font-family: "Nunito Sans", serif;
}

.rewards-cart-split {
  display: flex;
  width: fit-content;
}

.column {
  display: flex;
  flex-direction: column;
}

.rewards-cart-login {
  width: fit-content;
  justify-content: center; 
  align-items: center;
  gap: .5em;
  padding: 0px 1em 0px .7em;
}

.cart-sign-up {
  font-size: 1.1em;
  border: transparent 1px solid;
  border-radius: 300px;
  padding: 10px 30px;
  color: var(--light-brown);
}

.cart-sign-up:hover {
  border: solid 1px var(--dark-brown);
}

.cart-login {
  background-color: transparent;
  color: var(--dark-brown);
  font-size: .9em;
}

#cart-logo {
  height: 70px;
}

.rewards-cart-header {
  display: flex;
  align-items: center;
  height: fit-content;
}

.rewards-cart-body {
  display: flex;
  margin-left: 10px;
}

.cart-points-outer {
  width: 80px;
  height: 80px;
  border: solid;
  border-radius: 270px;
  justify-content: center;
  align-items: center;
}

.cart-points-inner {
  width: 65px;
  height: 65px;
  border: solid;
  border-radius: 270px;
  justify-content: center;
  align-items: center;
}
/* Rewards Cart End */

/* Delivery Pickup Start */
.delivery-pickup-cart {
  /* height: 9%; */
  background-color: var(--dark-brown);
  padding: 10px;
  color: white;
}

#delivery-click {
  font-size: 1.1em;
  color: var(--medium-tan);
  font-family: "Nunito Sans", serif;
  font-weight: 600;
  text-decoration: none;
  margin-left: 3.7em;
}

.center-item {
  display: flex;
  justify-content: center;
  margin: auto;
}

/* Delivery Pickup End */

/* Cart Start */

.my-order-cart {
  /* height: 8%; */
  background-color: var(--cream);
  padding: 10px;
  font-family: "Nunito Sans", serif;
}

.my-order-cart h5 {
  font-weight: 800;
}

#cart-body-desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-cart {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.right-cart {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin-right: 17px;
  color: var(--darker-tan);
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 700;
}

/* Cart End */

/* Cart Menu Items Start */

#cart-items li {
  display: flex;
  padding: .5rem;
  border-top: 1px solid var(--very-light-grey);
  border-bottom: 1px solid var(--very-light-gray);
  align-items: center;
}

.cart-img-div {
  height: 75px;
  width: 75px;
  min-width: 75px;
  border: 1px solid var(--medium-tan);
  border-radius: 10px;
  overflow: hidden;
  margin-right: .5rem;
}

.cart-item-img {
  background-size: contain;
  height: 75px;
  aspect-ratio: 1/1;
}

.cart-quantity-div {
  margin-left: auto;
  text-align: center;
  flex-direction: column;
  justify-content: space-between; 
}

.cart-remove {
  font-size: .8rem;
  padding: .5rem 1rem;
} 

.cart-price {
  font-family: "Nunito Sans", serif;
  margin: .125rem 0;
}

/* Cart Menu Items End */


/* Body Start */
.body-cart {
  height: 48%;
  font-family: "Nunito Sans", serif;
}

#food-plate-rendering {
  max-height: 200px;
  margin: 30px 120px 0px 120px;
}

#keep-ordering {
  background-color: var(--darker-tan);
  border: none;
  padding: 18px 80px;
  border-radius: 50px;
  font-size: 1.1em;
  color: white;
  cursor: pointer;
  font-weight: 550;
}

.cart-gap {
  gap: 20px;
}

#order-summary {
  width: 40%;
}

.row-1 {
  justify-content: flex-end;
}

.box-1 {
  margin-right: 4em;
  margin-bottom: .5em;
}

.total {
  border-top: solid 1px;
  padding-top: .2em;
}

.wrapper-cart-body {
  margin-top: 40px;
  padding: 10px 20px 150px 20px;
}

.space-between {
  justify-content: space-between;
}
/* Body end */

/* Footer start */
.footer-cart {
  width: 450px;
  position: fixed;
  background-color: var(--very-light-grey);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  justify-content: center;
  bottom: 0;
}

.static {
  overflow: hidden;
}


/* Footer end */


/* Account Section Start */

#account-section {
  padding-top: 80px;
  background-color: var(--cream);
  min-height: 100vh;
  font-family: "Nunito Sans", serif;
}

#account-section > div {
  flex-direction: column;
}

.account-h {
  margin: 3rem auto;
}

.logout-btn {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 50%;
  max-width: 250px;
}

#guest-note {
  text-align: center;
  margin-bottom: 1rem;
}

.account-info {
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
}

.account-info-inputs {
  display: block;
  margin: .25rem auto;
  padding: .5rem;
  min-width: 250px;
  width: 50%;
  max-height: 38px;
}

#account-invalid-fields {
  margin: 0 auto;
  margin-top: 2rem;
  color: white;
  background-color: transparent;
  padding: 3px;
  width: 50%;
  min-width: 250px;
  height: 22px;
  text-align: center;
  border-radius: 20px;
}

.account-info .sign-up-check-password {
  min-width: 250px;
  margin: 0 auto;
}

.account-list {
  flex-wrap: wrap; 
  justify-content: center;
  list-style: none;
}

.account-list li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 250px;
  width: 50%; 
}

.account-password-div {
  margin: 0 auto;
  flex-direction: column;
  align-content: center;
}


/* Account Section End */


/* Popup Start */

.popup-home,
.popup-home-hidden {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.popup-home-hidden {
  display: none;
}

.popup-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: var(--dark-tan);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .6);
}

.popup-box a {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/* Popup End */

/* Reviews Main Start */

#reviews-main {
  background-color: var(--cream);
}

#reviews-main > div {
  flex-direction: column;
  align-items: center;
}

#reviews-main h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.reviews-border,
#review-list li {
  background-color: var(--medium-tan);
  filter: brightness(115%);
  margin: .5rem;
  padding: 1rem;
  border-radius: .5rem;
}

.reviews-full {
  width: 100%;
  justify-content: center;
}

.reviews-filter-bar {
  max-width: 900px; 
  width: 100%;
}

.overall-h {
  margin-bottom: 0.5rem;
}

.overall-rating {
  margin-right: .5rem;
}

.overall-stars {
  font-size: 20px;
}

.orange-star {
  color: var(--orange);
}

.reviews-number {
  color: var(--grey);
  font-size: 0.9rem;
  margin-left: .5rem;
}

.reviews-btn {
  color: white;
  background-color: var(--blue);
  margin-left: 6rem;
}

#star-filter {
  padding: .25rem;
  background-color: var(--medium-tan);
  border: 1px solid var(--medium-tan);
  border-radius: .25rem;
  filter: brightness(110%);
}

#star-filter:hover,
#star-filter:active {
  border-color: var(--dark-brown);
}

#star-filter option {
  background-color: var(--blue);
}

#review-list {
  list-style: none;
}

#review-list li {
  display: flex;
  position: relative;
  max-width: 900px;
}

#review-list li q {
  background-color: var(--medium-tan);
  filter: brightness(110%);
  border-radius: 5px;
  padding: .5rem;
  width: 100%;
}

.reviews-info {
  margin-right: 2rem;
  min-width: 101px;
}

.reviews-name {
  font-size: 0.9rem;
}

.review-delete {
  position: absolute;
  padding: .25rem;
  top: calc(100% - 25px);
  left: calc(100% - 49px);
  z-index: 1;
}

.reviews-popup {
  position: relative;
  max-width: 700px;
  width: 100%;
}

.reviews-popup li {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--medium-tan);
  border-radius: 5px;
  padding: .5rem 1rem;
  margin-bottom: .5rem;
}

.reviews-popup li label {
  margin-right: 1rem;
}

.reviews-textarea {
  resize: none;
}

.star-btn {
  color: var(--orange);
  background-color: transparent;
  border: none;
  padding: 0 0.25rem;
}

.star-btn:hover {
  filter: brightness(90%);
}

.star-btn ion-icon {
  font-size: 1.1rem;
}

.reviews-fixed-x {
  position: absolute;
  top: 5px;
  left: 5px;
}

/* Reviews Main End */


/* Checkout Start */

#checkout-main {

}

.checkout-container {
  margin: 0 auto;
  font-family: "Nunito Sans", serif;
  flex-wrap: wrap;
  justify-content: center;
}

.checkout-section {
  min-height: 800px;
  width: 600px;
  padding: 2rem;
}

.checkout-info {
  background-color: var(--cream);
}

.checkout-info > div h4 {
  margin-bottom: 2rem;
}

.input-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fancy-input {
  display: flex;
  position: relative;
  margin-bottom: 2rem;
}

.fancy-input input {
  font-size: 1.1rem;
  border: none;
  border-bottom: 2px solid var(--dark-tan);
  background-color: transparent;
  transition: 0.2s;
}

.long {
  width: 400px;
}

.short {
  width: 140px;
}

.fancy-input input:focus {
  outline: none;
  border-color: var(--blue);
}

.fancy-input label {
  position: absolute;
  top: 0;
  left: 0px;
  transition: 0.2s;
}

.fancy-input input:focus + label,
.fancy-input input:not(:placeholder-shown) + label {
  font-size: 90%;
  top: -15px;
}

.fancy-input input:focus + label {
  color: var(--blue);
}

/* .checkout-delivery  */

#delivery-checkbox {
  width: 18px;
  height: 18px;
}

.checkout-summary {
  background-color: var(--medium-tan);
}

#checkout-items {
  list-style: none;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--dark-tan);
}

#checkout-items li {
  display: flex;
  padding: .5rem;
  margin: 0 2rem;
  border-bottom: 1px solid var(--dark-tan);
  align-items: center;
}

#checkout-items li:first-child {
  border-top: 1px solid var(--dark-tan);
}

.checkout-img-div {
  height: 40px;
  width: 40px;
  min-width: 40px;
  border: 1px solid var(--medium-tan);
  border-radius: 5px;
  overflow: hidden;
  margin-right: .5rem;
}

.checkout-item-img {
  background-size: contain;
  height: 40px;
  aspect-ratio: 1/1;
}

.checkout-name {
  font-family: "Nunito Sans", serif;
  width: 175px;
}

.checkout-quantity-div {
  margin-left: 2rem;
}

.checkout-quantity {
  flex-direction: column;
  justify-content: space-between; 
  min-width: 100px;
}

.checkout-price {
  font-family: "Nunito Sans", serif;
  margin: .125rem 0;
}

.checkout-discount-code {
  margin: 2rem 0;
  align-items: center;
}

.checkout-discount-code .fancy-input {
  margin-bottom: 0;
}

.checkout-discount-valid {
  color: var(--error-red);
}

.checkout-costs {
  border-bottom: 2px solid var(--dark-tan);
  padding-bottom: 2rem;
}

.checkout-cost {
  display: flex;
  justify-content: space-between;
  margin: .25rem 0;
}

.checkout-place-order {
  margin-top: 2rem;
}

.checkout-place-order-btn {
  background-color: var(--cream);
  width: 100%;
}

.checkout-place-order-btn:disabled {
  background-color: var(--cream);
  border: #91928e solid 1px;
  color: #91928e;
  cursor: not-allowed;
}

.checkout-error {
  color: var(--error-red);
  text-align: center;
  display: none;
}

/* Checkout End */

/* Rewards Start */

#rewards-main {
  background-color: var(--cream);
  padding-left: 200px;
  padding-right: 200px;
}

#rewards-head {
  background-color: var(--darker-tan);
  padding-top: 4rem;
  padding-bottom: 4rem;
  justify-content: center;
  align-items: center;
}

#points-outer-circ {
  width: 160px;
  height: 160px;
  border: solid;
  border-radius: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
}

#points-inner-circ {
  width: 140px;
  height: 140px;
  border: solid;
  border-radius: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
}

#align-circle {
  margin: auto;
  display: flex;
}

.rewards-info {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: solid 1px black;
}

.fine-print-1 {
  font-size: 14px;
  margin-top: 2px;
}

.rewards-text {
  width: 800px;
}

.points-select {
  width: 100%;
  border: solid;
  min-height: 130px;
}

.points-select button {
  width: 20%;
  height: 100%;
  color: black;
  font-size: 1.5rem;
}

#redeem-pop-up {
  position: fixed;
  width: 500px;
  max-width: 500px;
  height: 500px;
  background-color: var(--cream);
  z-index: 1; 
  left: 50%; 
  top: 50%;  
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
  border-radius: 50px;
  padding: 30px;
}

.redeem-header {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
/* Rewards End */